#clockcontainer {
  position: relative;
  margin: auto;
  height: 40vw;
  width: 40vw;
  border: 20px solid #ffffff00;
  border-radius: 50%;
  box-shadow:
    0 0 0 4px rgba(0,0,0,0.1),
    inset 0 0 0 3px #EFEFEF,
    inset 0 0 10px black,
    0 0 10px rgba(0,0,0,0.2);
  background: url(clock.png) no-repeat;
  background-size: 100%;
}

.hands {
  position: absolute;
  background-color: pink;
  border-radius: 10px;
}

#hour {
  height: 23%;
  width: 1.3%;
  top: 27%;
  left: 50.1%;
   border-radius: 1px;
  transform-origin: bottom;
}
#minute {
  height: 34%;
  width: 1.3%;
  top: 16.9%;
  left: 50.1%;
   border-radius: 1px;
  transform-origin: bottom;
}
#second {
  height: 28%;
  width: 1.3%;
  top: 22.5%;
  left: 50.1%;
   border-radius: 1px;
  transform-origin: bottom;
}
body {
  background-color: red;
}
